/* src/styles/Court.css */

.court {
  background-color: #ffffff;
  border: 1px solid var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.court:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.disabled-court {
  opacity: 0.6;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--primary-color);
  color: #ffffff;
}

.card-body {
  padding: 10px;
}

.btn-sm {
  font-size: 0.875rem;
  padding: 5px 10px;
}

.card-body.text-center .text-muted {
  font-size: 50px;
}
