.player-card {
  width: 120px; /* Reduced size */
  height: 160px; /* Reduced size */
  padding: 5px;
  border: 2px solid #ced4da;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  opacity: 1; /* Ensure default opacity for unpaused players */
}

.player-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6); /* Updated shadow opacity */
}

.selected-player {
  border-color: #28a745;
  background-color: #e7f1ff;
}

.disabled-player {
  opacity: 0.5;
  pointer-events: none;
}

.pause-icon-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.pause-icon {
  color: #6c757d;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Court styling */
.court {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); /* Updated shadow opacity */
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 12rem; /* Fixed width */
  height: auto; /* Adjust height */
}

.court:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6); /* Updated shadow opacity */
}

.disabled-court {
  opacity: 0.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .court {
    width: 100%; /* Full width on smaller screens */
    padding: 10px;
  }
}
