body {
  margin: 0;
  font-family: 'Cutive Mono', monospace, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-fixed {
  height: 250px;
}

.drawer-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.drawer-icon {
  width: 35px;
  height: 3px;
  background-color: white;
  position: relative;
}

.drawer-icon::before,
.drawer-icon::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: white;
  top: -10px;
}

.drawer-icon::after {
  top: 10px;
}

.dropdown-menu {
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-item {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: white;
  display: block;
  width: 100%;
  clear: both;
  font-weight: normal;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f6f6f6;
}
